/*------------------------------------------------------------------
    Container
-------------------------------------------------------------------*/
.container {
    width: 1120px
}
.col {
    float: left
}
#wrapper.boxed {
    max-width: 1084px
}

/*------------------------------------------------------------------
    Header menu
-------------------------------------------------------------------*/
#wrapper.boxed #header .fixed {
    max-width: 1084px;
    left: initial
}

/*------------------------------------------------------------------
    Parallax container
-------------------------------------------------------------------*/
.parallax_container,
.parallax_container .parallax_element {
    height: 550px
}
.parallax_container .parallax_header {
    bottom: 30px;
    width: 1024px;
    margin-left: -512px
        text-align: right;
}
.parallax_container .parallax_header h1 {
    font-size: 42px;
    line-height: 50px;
}

/*------------------------------------------------------------------
    Footer
-------------------------------------------------------------------*/
#footer .widget {
    /*float: left*/
}
.tab-banner300x250 {
	display:none;
}
.xs_hide { display: block;}
#footer .widget img {
	width:100%;}
#footer .widget_social_media {
    float:  right;
    text-align: right;
}
#t_owl_slider.owl-carousel .owl-item img {
    height: 550px;
}