/*------------------------------------------------------------------
    1. Container
-------------------------------------------------------------------*/
.container {
    width: 750px
}
.col {
	float:left;
    /*width: 100%;*/
    /*display: block;*/
    /*clear: both*/
}
#wrapper.boxed {
    max-width: 800px
}

#main-footer .col { width: 100%; float:left;}

#main-footer .col_1_of_12 {
     width: 50%; float:left;
}
#main-footer .col_2_of_12 {
     width: 50%; float:left;
}
#main-footer .col_3_of_12 {
     width: 50%; float:left;
}
#main-footer .col_4_of_12 {
     width: 50%; float:left;
}
#main-footer .col_5_of_12 {
     width: 50%; float:left;
}
#main-footer .col_6_of_12 {
     width: 100%; float:left;
}
#main-footer .col_7_of_12 {
     width: 100%; float:left;
}
#main-footer .col_8_of_12 {
     width: 100%; float:left;
}
#main-footer .col_9_of_12 {
     width: 100%; float:left;
}
#main-footer .col_10_of_12 {
     width: 100%; float:left;
}
#main-footer .col_11_of_12 {
     width: 100%; float:left;
}
#main-footer .col_12_of_12 {
     width: 100%; float:left;
}
/*------------------------------------------------------------------
    Header menu
-------------------------------------------------------------------*/
#wrapper.boxed #header .fixed {
    max-width: 800px;
    left: initial
}

/*------------------------------------------------------------------
    Site navigation
-------------------------------------------------------------------*/
nav.site_navigation ul.menu > li > a {
    font-size: 14px;
    padding: 0px 20px
}

/*------------------------------------------------------------------
    Parallax container
-------------------------------------------------------------------*/
.parallax_container,
.parallax_container .parallax_element {
    height: 350px
}
.parallax_container .parallax_header {
    bottom: 30px;
    width: 750px;
    margin-left: -375px;
    text-align: right;
}
.parallax_container .parallax_header h1 {
    font-size: 36px;
    line-height: 42px;
}

/*------------------------------------------------------------------
    Grid block articles
-------------------------------------------------------------------*/
.grid_block_articles .item .inner {
    height: 152px;
}
.grid_block_articles .item:first-child .inner {
    height: 315px
}
.grid_block_articles .item .meta_wrapper h3 {
    font-size: 14px;
    line-height: 20px
}

/*------------------------------------------------------------------
    Breaking news
-------------------------------------------------------------------*/
.breaking_news .breaking_block {
    width: 596px
}
.breaking_news .breaking_block .owl-wrapper-outer {
    width: 556px
}

/*------------------------------------------------------------------
    Footer
-------------------------------------------------------------------*/
#footer .widget {
    float: left
}
.tab-banner300x250 {
	display: block;
}
.xs_hide { display:none;}
.article_list.small .item .item_header {
    overflow: hidden;
    width: 100%;
    margin: 0px 15px 0px 0px;
    float: none;
    background-color: #000;
}
.social-media

{
float: left;
}

.article_list.small .item .item_wrapper .writer {
	position:absolute; right:0; top:10px;
}
#footer .widget_social_media {
    float: left;
    text-align: left;
}
#t_owl_slider.owl-carousel .owl-item img {
    height: 550px;
}
