.weatherInfoRight{
	z-index: 999;
	position: fixed;
	top: 10px;
	right: 10px;
}

.weatherInfoLeft{
	z-index: 999;
	position: fixed;
	top: 10px;
	left: 10px;
}

.weatherInfoBottomRight{
	z-index: 999;
	position: fixed;
	bottom: 10px;
	right: 10px;
}

.weatherInfoBottomLeft{
	z-index: 999;
	position: fixed;
	bottom: 10px;
	left: 10px;
}


.MyWeatherDiv{
	display: none;
	background-color: rgba(0,0,0,0);
	padding: 5px;

	-webkit-border-radius: 10px;    
    border-radius: 10px;
}

.MyWeatherInfo{
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
	color: white;
	font-size: 14px;
}

#divMyImage{
	display: none;
}


.MyWeatherClose{
	font-family: 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
	cursor: pointer;
	position: absolute;
	right: 10px;
	color: white;
	font-size: 20px;
}

.MWTemperature{
	display: block;
}

.MWPlace{
	display: block;
}

.MWIP{
	display: block;
}

#clear-day{
	display: none;
}

#clear-night{
	display: none;
}

#partly-cloudy-day{
	display: none;
}

#partly-cloudy-night{
	display: none;
}

#cloudy{
	display: none;
}

#rain{
	display: none;
}

#sleet{
	display: none;
}

#snow{
	display: none;
}

#wind{
	display: none;
}

#fog{
	display: none;
}
